{% extends "admin/base.html" %}

{% block extrastyle %}
<style>
    
    :root {
      
        --header-bg: #111827; 
        --header-color: #ffffff; 

       
        --primary: #2563eb; 
        --primary-fg: #ffffff;

    
        --secondary: #1e3a8a; 

        
        --breadcrumbs-bg: #1f2937;
        --breadcrumbs-link-fg: #93c5fd;
        --breadcrumbs-fg: #d1d5db;

       
        --default-button-bg: #2563eb;
        --default-button-hover-bg: #1d4ed8;
    }

   
    #site-name {
        font-weight: 800;
        font-size: 1.5rem;
        letter-spacing: 1px;
    }
</style>
{% endblock %}