{% load static %}

<nav class="bg-white fixed w-full z-20 top-0 start-0 border-b border-gray-200">
  <div class="w-full flex flex-wrap items-center justify-between px-6 py-4">

    <a href="{% url 'home' %}" class="flex items-center space-x-3 rtl:space-x-reverse">
        <img src="{% static 'images/ggh-logo.png' %}" class="h-10" alt="Galos POS Logo" />
    </a>

    <div class="hidden w-full md:block md:w-auto" id="navbar-default">
      <ul class="font-medium flex flex-col p-4 md:p-0 mt-4 border border-gray-100 rounded-lg bg-gray-50 md:flex-row md:space-x-8 rtl:space-x-reverse md:mt-0 md:border-0 md:bg-white">

        <li>
          <a href="#" class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-600 md:p-0">
            Dashboard
          </a>
        </li>

        <li>
          <a href="#" class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-600 md:p-0">
            Order
          </a>
        </li>

        <li>
          <a href="#" class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-600 md:p-0">
            Products
          </a>
        </li>

        <li>
          <a href="#" class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-600 md:p-0">
            Sales History
          </a>
        </li>

        <li>
          <a href="#" class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-600 md:p-0">
            Profile
          </a>
        </li>

        <li>
             <form action="" method="post" class="inline">
                {% csrf_token %}
                <button type="submit" class="block py-2 px-3 w-full text-left text-red-600 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-red-700 md:p-0">
                    Logout
                </button>
            </form>
        </li>

      </ul>
    </div>
  </div>
</nav>